@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-image: url("./images/3037916.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 1px 0px 2px rgb(18, 34, 52);
}

.home {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.home a {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: rgba(178, 8, 51, 0.8);
  border-radius: 10px;
  width: 140px;
}

.home a:hover {
  background-color: rgba(233, 9, 65, 0.8);
}

.home-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  margin-top: 10px;
}

.active {
  border-bottom: 1px solid white;
}

.create {
  display: grid;
  place-items: center;
}

.create-lineup {
  position: fixed;
  width: 50px;
  bottom: 5px;
}

/* new */

.general-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: black;
  top: 0;
}

.logo img {
  width: 60px;
  margin-top: 5px;
  margin-left: 5px;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.navigation-menu:hover li a {
  filter: blur(5px);
  transition: all 0.5s ease-in-out;
}

.navigation-menu:hover li a:hover {
  font-size: 18px;
  filter: blur(0px);
  background-color: rgba(178, 8, 51, 0.7);
  border-radius: 10px;
  padding: 2px;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
}
.navigation-menu li a {
  text-decoration: none;
  color: white;
}

.logout {
  border: none;
  background: transparent;
  background-color: rgba(178, 8, 51, 0.7);
  color: white;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: rgba(233, 9, 65, 0.8);
}

.goback-btn {
  margin-top: 80px;
  margin-left: 25px;
  background: transparent;
  border: none;
}

.password-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 31px;
}

.lineup-h1 {
  margin-left: 25px;
}

.form-search-general {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 25px;
}

.popularity-btn {
  border: none;
  background: transparent;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
.popularity-btn:hover {
  opacity: 1;
}

.form-search-input {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.form-search-1 input {
  padding: 3.5px;
  border: none;
  background-color: white;
  width: 20vw;
}

.form-search-1 input:focus {
  outline: none;
}

.form-search-1 button {
  border: none;
  background: white;
  padding: 1.5px;
}

.form-search-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-search-btn1 {
  border: none;
  background-color: white;
  padding: 2px;
  border-radius: 10px;
}

.form-search-btn2 {
  border: none;
  background-color: transparent;
  color: white;
  opacity: 0.5;
}

.lineup-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  gap: 20px;
}

.lineup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 162, 162, 0.7);
  width: 360px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.lineup-card h1 {
  text-align: center;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width: 95%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-iframe {
  border: none;
}

.lineup-agent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 200px;
  margin-top: 10px;
}

.lineup-agent img {
  width: 60px;
  border-radius: 50%;
}

.lineup-map {
  margin-bottom: 10px;
}

.lineup-agent h4 {
  font-size: 20px;
}

.lineup-map img {
  width: 350px;
  border-radius: 10px;
  margin-top: 10px;
}

.lineup-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid white;
}
.lineup-info {
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lineup-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: -5px;
  text-decoration: none;
  color: white;
}

.lineup-like {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lineup-like-1 {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.lineup-user-actions {
  display: flex;
  flex-direction: row;
  margin-left: 230px;
  gap: 25px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.lineup-user-actions button {
  border: none;
  background-color: transparent;
}

.lineup-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 162, 162, 0.7);
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.lineup-card-details h1 {
  text-align: center;
}

.lineup-info-details {
  display: flex;
  flex-direction: row;
  gap: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lineup-info-details img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid white;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 162, 162, 0.7);
  border-radius: 10px;
  width: 450px;
  margin: 0 auto;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.new-review {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.new-review input {
  height: 50px;
  border-radius: 10px;
  border: none;
}

.new-review button {
  width: 80px;
  padding: 2px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-card-p {
  background-color: white;
  width: 280px;
  border-radius: 10px;
  color: black;
  padding: 20px;
  margin-top: 5px;
}

.review-card-input {
  background-color: white;
  width: 280px;
  height: 64px;
  border-radius: 10px;
  padding: 20px;
  color: black;
  margin-top: 5px;
  border: none;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}

.hidden {
  display: none;
}

.review-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid white;
}

.review-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}

.review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review-user-actions button {
  background-color: transparent;
  border: none;
}

.review-user-actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.loading {
  text-align: center;
  margin-top: 340px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  /* margin-left: 100px; */
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(164, 10, 48);
  border-color: rgb(164, 10, 48) transparent rgb(164, 10, 48) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* New Lineup */
.new-lineup {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-lineup h2 {
  padding-top: 20px;
  margin-left: 20px;
}

.new-lineup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 162, 162, 0.7);
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

.new-lineup form label {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  width: 150px;
  color: white;
  text-shadow: 1px 0px 3px rgb(18, 34, 52);
}

.new-lineup form input {
  padding: 5px;
}

.new-lineup button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: rgba(178, 8, 51, 0.8);
  color: white;
}

.new-lineup a {
  text-decoration: none;
  margin-top: 10px;
  color: rgba(178, 8, 51);
  text-shadow: 1px 0px 1px rgba(178, 8, 51, 0.8);
  background-color: rgba(170, 162, 162, 0.7);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
}

button {
  font-family: "Noto Sans JP", sans-serif;
}

.user {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.user-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.user-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid black;
}

.user-1 h3 {
  color: black;
}

.user-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-2 a {
  text-decoration: none;
  color: black;
}

.user-2-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.liked-h1 {
  color: white;
  margin-left: 20px;
  border-bottom: 2px solid white;
  width: 20vw;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}

.user-name-link {
  text-decoration: none;
}

/* Edit profile */

.form-edit {
  background-color: rgba(170, 162, 162, 0.7);
  width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
}

.form-edit h2 {
  margin-left: 20px;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-edit form label {
  border-bottom: 1px solid white;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-edit form input {
  padding: 5px;
}

.form-edit form button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: rgba(178, 8, 51, 0.9);
}

/* Agents */

.agents-general {
  margin-top: 10px;
}

.agents-general h1 {
  margin-left: 20px;
}

.agents {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.agents img {
  border: 1px solid white;
  border-radius: 50%;
  width: 150px;
}

.agent {
  background-color: rgba(170, 162, 162, 0.7);
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
  transition: all 0.5s ease-in-out;
}

.agent:hover {
  transform: scale(1.1);
}

.agent h4 {
  font-size: 25px;
}

.agent a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(164, 10, 48);
  text-shadow: 1px 0px 1px rgb(164, 10, 48);
}

.agent-detail {
  background-color: rgba(170, 162, 162, 0.7);
  width: 50vw;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.agent-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agent-info h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 45px;
}

.agent-info p {
  margin-bottom: 10px;
}

.agent-info audio {
  opacity: 0.4;
}

.agent-info-role {
  font-size: 25px;
}

.agent-info img {
  width: 320px;
}

.agent-description {
  width: 50vw;
  text-shadow: 1px 0px 3px rgb(18, 34, 52);
  text-align: center;
}

.agent-abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 10px;
}

.abilitie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.abilitie img {
  width: 80px;
}

/* Tracker */
.general-form-edit h1 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.form-tracker form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60vw;
  margin: 0 auto;
}

.form-tracker-1 {
  display: flex;
  flex-direction: column;
}

.form-tracker-1 input {
  width: 25vw;
  padding: 5px;
}

.form-tracker form button {
  border: none;
  background-color: rgba(178, 8, 51, 0.8);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  width: 100px;
  cursor: pointer;
}

.form-tracker form button:hover {
  background-color: rgba(233, 9, 65, 0.8);
}

.maps-view {
  margin-bottom: 15px;
}

.maps-view h1 {
  margin-left: 3vw;
}

.maps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin-top: 15px;
}

.map {
  background-color: rgba(170, 162, 162, 0.7);
  padding: 5px;
  border-radius: 10px;
  width: 30vw;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
  transition: all 0.5s ease-in-out;
}

.map:hover {
  transform: scale(1.07);
}

.map a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map h4 {
  text-shadow: 1px 0px 3px rgb(18, 34, 52);
  font-size: 22px;
}

.map img {
  width: 28vw;
}

.map-details {
  margin-top: 10px;
}

.map-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(170, 162, 162, 0.7);
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.map-details-info h2 {
  margin-top: 10px;
  font-size: 30px;
}

.map-details-picture {
  width: 450px;
}

.map-details-map {
  width: 400px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 15px;
}

/* Tracker */

.tracker-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 162, 162, 0.7);
  border-radius: 10px;
  width: 360px;
  margin: 0 auto;
  margin-top: 20px;
  gap: 10px;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.tracker-info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tracker-img {
  width: 150px;
  margin-bottom: 10px;
}

.tracker-info h3,
p {
  text-shadow: 1px 0px 3px rgb(18, 34, 52);
}

/* Not Found */

.not-found {
  margin: 0 auto;
  margin-top: 80px;
  width: 90vw;
  text-align: center;
}

.not-found a {
  text-decoration: none;
  color: rgba(178, 8, 51);
}

/* Ranking */

.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ranking h1 {
  margin-bottom: 20px;
}

.ranking-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(170, 162, 162, 0.7);
  border-radius: 10px;
  width: 360px;
  margin: 0 auto;
  box-shadow: rgba(255, 255, 255, 0.7) 1.95px 1.95px 2.6px;
}

.ranking-user a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}

.ranking-user a img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  border: 1px solid white;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu {
    list-style: none;
    position: fixed;
    background: #fff;
    right: 0;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    font-size: 18px;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%),
      0 4px 6px -2px rgb(71 63 79 / 16%);
    transform: translateX(100px);
    transition: transform ease-in-out 0.2s;
    margin-top: -25px;
  }
  .navigation-menu.show-menu {
    margin-top: 25px;
    width: 45%;
    transform: translateX(0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgb(18, 34, 52, 0.8);
  }
  body {
    background-image: url("./images/caf018c47475e82da279e02101b989cb.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .form-search-1 input {
    width: 30vw;
  }
  .lineup-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-tracker form {
    width: 320px;
  }
  .form-tracker-1 input {
    width: 28vw;
  }
  .form-tracker form button {
    padding: 5px;
    margin-top: 25px;
    width: 90px;
  }
  .agent {
    width: 22vw;
  }
  .agents img {
    width: 60px;
  }
  .agent h4 {
    font-size: 15px;
  }
  .agent-detail {
    width: 90vw;
  }
  .agent-description {
    width: 80vw;
  }
  .agent-info h3 {
    font-size: 25px;
  }
  .agent-info-role {
    font-size: 18px;
  }
  .map img {
    width: 40vw;
  }
  .maps {
    gap: 15px;
  }
  .map {
    width: 42.5vw;
  }
  .maps-view h1 {
    margin-left: 20px;
  }
  .map h4 {
    font-size: 15px;
  }
  .map-details-info {
    width: 350px;
  }
  .map-details-picture {
    width: 300px;
  }
  .map-details-map {
    width: 320px;
  }
  .map-details-info h2 {
    font-size: 25px;
  }
  .lineup-card-details {
    width: 350px;
  }
  .review {
    width: 350px;
  }
  .lineup-map img {
    width: 250px;
  }
  .lineup-agent img {
    width: 40px;
  }
  .lineup-agent {
    margin-right: 150px;
  }
  .user {
    width: 350px;
  }
  .lineup-h1 {
    margin-left: 15px;
  }
  .liked-h1 {
    width: 200px;
  }
  .logout {
    padding: 10px;
    margin-bottom: 5px;
  }
}
